.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
  flex-shrink: 0;
  background: black;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}